*CalamityLexer*
*CalamityParser*
*CalamityListener*
*CalamityBaseListener*
*CalamityVisitor*
*CalamityBaseVisitor*

*trierLexer*
*trierParser*
*trierListener*
*trierBaseListener*

*.tokens
*.interp
*.o
CalamityBaseVisitor.cpp
CalamityBaseVisitor.h
CalamityVisitor.cpp
CalamityVisitor.h
test
calam
codetest

temp_*

*.dSYM
