{
    "classes" : [
        "Error",
        "Bool",
        "Integer",
        "Double",
        "String",
        "List",
        "Object",
        "Function"
    ]

    , "baseType" : "Node"
    , "returnType" : "Node*"

    , "functions" : [
        "And",
        "Or",
        "Plus",
        "Minus",
        "Times",
        "DividedBy",
        "Mod",
        "Call"
    ]

    , "defaultCode" : "return new Error;"
    , "namespace" : "object"
    , "macro" : "DEFINITIONS"
    , "header" : "temp_objects.h"
    , "source" : "temp_objects.cpp"
}
