{
    "classes" : [
          "Error"
        , "Member"
        , "Boolean"
        , "Integer"
        , "Double"
        , "String"
        , "Array"
        , "Object"
        , "Function"
    ]

    , "baseType" : "Node"
    , "returnType" : "Node*"

    , "functions" : [
          "And"
        , "Or"
        , "Plus"
        , "Minus"
        , "Times"
        , "DividedBy"
        , "Mod"
        , "Call"
        , "Equals"
        , "NotEquals"
        , "LessThan"
        , "GreaterThan"
        , "LessThanOrEqualTo"
        , "GreaterThanOrEqualTo"
    ]

    , "defaultCode" : "return new Error;"
    , "namespace" : "object"
    , "macro" : "DEFINITIONS"
    , "header" : "temp_objects.h"
    , "source" : "temp_objects.cpp"
}
