{
    "classes" : [
        "Asteroid",
        "Ship",
        "Bullet"
    ]

    , "baseType" : "Object"
    , "returnType" : "void"

    , "functions" : [
        "collide"
    ]

    , "defaultCode" : ""
    , "namespace" : "oids"
    , "macro" : "ASTEROID_DEFINITIONS"
    , "header" : "asteroids.h"
    , "source" : "asteroids.cpp"
}

